// colors
$primary: #076998;
$main: #5d83e5;
$black: #000;
$black2: #333333;
$white: #fff;
$green: #B0C801;
// fonts
$mainFont: "Open Sans", sans-serif;
$condensed: "Open Sans Condensed", sans-serif;
